@import-normalize;

@font-face {
  font-family: "Lato";
  src: local("/fonts/Lato");
}

body {
  margin: 0;
  font-family: "Lato";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
